.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 20%;
}

.loader p {
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}