#chatbox {
    width: 15%;
    height: 100vh;
    border-left: 1px #cccccc solid;
    margin-top: 5px;
    position: fixed;
    right: 0;
}

#list-users {
    width: 100%;
    min-height: 100%;
    margin-top: 5px;
}

#list-users .user {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 5px 0 5px 0;
}

#list-users .user:hover {
    background: #dedede;
    cursor: pointer;
}

#list-users .user .icon {
    width: 20%;
    position: relative;
}

#list-users .user .icon .avatar {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 100%;
    border: none;
}

#list-users .user .title {
    font-size: .8em;
    font-weight: bold;
    width: 70%;
    text-align: left;
}

#list-users .user .connected {
    width: 20%;
    text-align: right;
}

#chat {
    text-align: left;
    bottom: 0;
    position: fixed;
    box-shadow: 0 0 10px 0 #E5E5E5;
    background: white;
}

#chat.visible {
    width: 250px;
    display: block;
}

#chat.reduce {
    width: 195px;
    display: block;
}

#chat.hidden {
    width: 0px;
    display: none;
}

#chat p {
    margin: 0;
    font-weight: bold;
}

#chat header {
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
    border-bottom: 2px solid #E5E5E5;
    position: relative;
    font-size: .9em;
    font-weight: bold;
}

#chat header:hover {
    background: #E9EBEE;
}

#chat header .header-contain {
    padding: 4px;
    display: flex;
}

#chat header .header-contain p {
    margin-left: 8px;
    font-size: .9em;
}

#chat header .header-contain .avatar {
    display: inline-block;
}

#chat.visible header .header-contain p {
    line-height: 35px;
}

#chat.visible header .header-contain .avatar, #chat.reduce header .header-contain .avatar {
    width: 28px;
    height: 28px;
    border-radius: 100%;
    border: none;
}

#chat.reduce header .header-contain p {
    line-height: 35px;
}

#chat.visible section {
    display: block;
}

#chat.reduce section {
    display: none;
}

#chat section .chat-messages-content {
    height: 250px;
    width: 100%;
    overflow: scroll;
    scroll-behavior: auto;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 10px;
    position: relative;
}

#chat section .chat-messages-content p {
    margin: 4px;
    padding: 8px;
    border-radius: 20px;
    max-width: 60%;
    font-size: .9em;
}

#chat section .chat-form {
    width: 100%;
    position: relative;
}

#chat section .chat-form input {
    padding: 8px !important;
    border-top: 1px solid #E5E5E5;
}

p.left {
    float: left;
    background: #F1F0F0;
    color: black;
}

p.right {
    float: right;
    background: #0084FF;
    color: white;
}