.navbar {
    display: flex;
    margin-right: 48px;
}

.navbar Button {
    color: #fff;
}

.navbar-icons {
    display: flex;
    margin-right: 50px;
}

.navbar-icons p {
    font-size: .5em;
    margin: 0;
}

.navbar-icons .label {
    flex-direction: column;
}

.navbar-icon {
    color: #C7D1D7 !important;
    width: 90px;
}

.navbar-icon .active {
    background: none !important;
    color: white !important;
    font-weight: bold;
}

.navbar-icon:hover {
    background: none !important;
    color: white !important;
    font-weight: bold;
}

.main-avatar {
    width: 1.6em !important;
    height: 1.6em !important;
    border-radius: 1.6em;
}

.name-account {
    margin: 0 5px 0 10px;
    position: relative;
}

.search {
    position: relative;
    border-radius: 4px;
    background: #e1e9ee;
    min-width: 100%;
    margin-left: 32px;
    transition: 0.3s;
    padding-left: 16px;
    transform: translateY(25%);
    max-height: 35px;
}

.search:focus-within {
    background: white;
}

.searchIcon {
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputRoot {
    width: 100%;
    height: 100%;
    margin-left: 40px;
}

.inputInput {
    padding: 10px 10px 10px 100px;
    width: 100%;
}

.popper {
    z-index: 100;
}