#main {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 60px;
}

.main-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}