.signin {
    width: 30%;
    height: 70%;
    margin: auto;
    padding-bottom: 35px;
    border-radius: 2px;
}

.signin h2 {
    font-weight: normal;
    color: white;
}

.signin-header {
    padding: 5px;
    border-bottom: 1px solid #ededed;
}

.signin-contain {
    background: rgb(237, 240, 243);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.signin-contain Input {
    margin: auto;
    width: 100%;
    background: white;
    border: 3px solid transparent;
    border-radius: 3px;
}

.signin-contain Input:focus {
    border: 3px solid #5a93ea;
}

.signin-contain Button {
    background: #0073b1;
    margin-top: 10px;
}

.signin-contain Button:hover {
    background: #0060a0;
    color: white;
}