.App-header {
    background: #283e4a;
    height: 50px;
    width: 100%;
    padding: 5px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    z-index: 10;
}

.header-name {
    text-align: center;
    margin-left: 48px;
    display: flex;
}

.header-name h1 {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}