.App {
  text-align: center;
}

a {
  text-decoration: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form {
  padding: 0;
}

.form Input {
  background: #e1e9ee;
  color: black;
  padding: 10px;
  border-radius: 4px;
  font-size: .8em;
  width: 180px;
  border: 1px solid #b3b6b9;
  font-weight: bold;
}

.form label {
  width: 180px;
  margin: auto;
  text-align: left;
  top: -30px;
}

.form Input[placeholder], .form label {
  color: #000;
}

.form Input:focus {
  background: #fff;
  outline-offset: -2px;
}

.form Button {
  border: solid 1px white;
  color: white;
  padding: 6px 15px 6px 15px;
  font-variant: normal;
  font-weight: bold;
}

.form Button:hover {
  background: white;
  color: black;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
