.form-resetpassword {
    width: 30%;
    height: 70%;
    margin: 10px auto;
    border-radius: 2px;
}

.resetPassword-header {
    padding: 5px;
    border-bottom: 1px solid #ededed;
    text-align: center;
    background-color: #f5f5f5;
    margin-bottom: 10px;
}

.form-resetpassword label {
    margin-left: 25px;
}

#response a {
    text-decoration: none;
}

.resetpassword-contain h2 {
    font-weight: normal;
}

.resetpassword-contain {
    background: rgb(237, 240, 243);
    display: flex;
    flex-direction: column;
}

.resetpassword-contain Input {
    margin: auto;
    width: 80%;
    background: white;
    border: 3px solid transparent;
    border-radius: 3px;
}

.resetpassword-contain Input:focus {
    border: 3px solid #5a93ea;
}

.resetpassword-contain {
    width: 100%;
    margin: auto;
}

Button.return {
    width: 100px;
}

.resetpassword-contain Button, Button.return {
    background: #0073b1;
    margin-top: 10px;
    color: #fff;
}

.resetpassword-contain Button:hover, Button.return:hover {
    background: #0060a0;
    color: white;
}

.buttons {
    margin-bottom: 20px;
}