.form-login {
    width: 70%;
    right: 0;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.form-login Input {
    margin-right: 8px;
}

.form-login a {
    text-decoration: none;
    color: white;
    font-size: .8em;
    margin-left: 20px;
}

.form-login a:hover {
    text-decoration: underline;
}
