#main-container {
    width: 80%;
    height: 350px;
    margin: auto;
    position: relative;
    background-color: white;
}

#cover-bottom {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
}

#cover-bottom #name {
    font-size: 1.3em;
    font-weight: bold;
    margin: 10px 0 10px 0;
}

#add-friends {
    position: absolute;
    bottom: 70px;
    right: 30px;
    width: 180px;
    color: black;
}

#add-friends button {
    background: white;
    font-weight: 900;
}

#add-friends button:hover {
    background: #e3e3e3;
}

#profile-picture {
    position: absolute;
    left: 30px;
    top: -140px;
    width: 170px;
    height: 170px;
    background: white;
    border-radius: 150px;
    border: 4px solid white;
}

#profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 150px;
}