#wall {
    margin: 20px auto;
    width: 50%;
}

#wall .containForm {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
    margin-top: 10px;
}

#wall .containForm div {
    padding-left: 5px;
}

#wall form Button {
    background: #0073B1;
    margin-top: 10px;
}

#wall form Button:hover {
    opacity: .8;
}

#textField-contain {
    background: white;
}

.textField {
    margin-bottom: 0 !important;
}

.icon-form {
    display: flex;
    justify-content: center;
    padding: 5px 0 5px 0;
    background: #EDF0F3;
}

.icon-form .icon {
    margin: 5px 15px 5px 15px;
}