.post {
    margin: 40px auto;
}

.media {
    height: 0;
    padding-top: 56.25%;
}

.actions {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #e5e5e5;
    width: 92%;
    padding: 0 !important;
    margin: auto;
}

.actions p {
    font-size: .7em;
    font-weight: bold;
    margin-left: 10px;
}

.actions button {
    padding: 0;
    width: calc(100%/3);
    border-radius: 0;
}

.expand {
    transform: rotate(0deg);
    margin-left: auto;
}

.expandOpen {
    transform: rotate(180deg);
    transition-duration: 2s;
}

.avatar {
    background-color: transparent !important;
    border: 2px solid #e9ebee;
    padding: 3px;
}

.avatar img {
    width: 100%;
    height: 100%;
}